{% extends "base.html" %}
{% block title %}Главная{% endblock %}
{% block content %}
    <div class="m-3 w-75">
        <h1>О приложении</h1>
        <p>
            UseMyTime — это инновационный трекер времени, разработанный для повышения продуктивности сотрудников и 
            оптимизации рабочего процесса в компаниях. Наше приложение помогает осознанно управлять временем, 
            минимизировать потери и фокусироваться на важных задачах.
        </p>
        <h2>Ключевые возможности</h2>
        <ul>
            <li><strong>Точный учет времени:</strong> Автоматическое отслеживание времени, потраченного на задачи, проекты</li>
            <li><strong>Подробная статистика:</strong> Отдельный учет времени, потраченного на каждое приложение, 
                используемое в работе</li>
            <li><strong>Простота использования:</strong> Удобный интерфейс и простой дизайн</li>
            <li><strong>Используйте на разных устройствах:</strong> Все данные хранятся в базе данных, проекты для вашего 
                аккаунта будут отображаться на любом устройстве, с которого вы зайдете</li>
            <li><strong>Гибкая отчетность:</strong> Быстрая генерация отчетов по сотрудникам, отделам или проектам</li>
        </ul>
        <p>
            <strong>UseMyTime</strong> — это не просто трекер, а ваш надежный помощник в достижении максимальной эффективности. 
            Попробуйте и убедитесь, как легко превратить время в ваш главный ресурс!
        </p>
        <hr>
        <h2>Инструкция для пользователей</h2>
        <p>
            Для доступа к функционалу приложения необходимо <a href="{% url "register" %}">зарегистрироваться</a> 
            и <a href="{% url 'login' %}">войти</a>.
        </p>
        <h3>Профиль</h3>
        <p>
            После регистрации вам доступно редактирование вашего профиля.<br>
            Там вы можете указать свои фамилию, имя и отчество и добавить фотографию для профиля.<br>
            Там же вы можете изменить имя пользователя и почту.
        </p>
        <h3>Выбранные программы</h3>
        <p>
            В данном разделе вы можете выбрать программы, в которых вы собираетесь работать.
            После выбора программ, при запуске проекта вы сможете выбрать, в какой программе вы планируете работать Это
            позволит учитывать время, проведенное в каждой программе.<br>
            Делать это не обязательно.
        </p>
        <h3>Управление проектом</h3>
        <p>
            Для создания проекта нужно перейти в раздел "Мои проекты" и выбрать "Создать проект".<br>
            После этого откроется раздел, где вы можете указать название проекта и его описание. Также (опционально) можно 
            указать задачи, из которых будет состоять проект.
            После создания проекта вы перейдете на страницу управления проектом. Для перехода к любому созданному проекту 
            найдите необходимый проект в разделе "Мои проекты" и нажмите на него.
            На странице управления проектом вы увидите:
            <ul>
                <li>Название и описание проекта</li>
                <li>Список задач: можно отмечать "выполненными" или "не выполненными" при помощи чекбокса</li>
                <li>Статистика по проекту: общее время, затраченное на проект, и статистика по программам (если выбирали программы)</li>
                <li>Кнопки управления проектом: удаление, редактирование, перемещение в архив и активация</li>
            </ul>
            Чтобы начать работу над проектом, нажмите "Активировать проект" на странице управления проектом. <br>
            После активации проекта в верхнем правом углу появится панель управления проектом, где можно запустить и остановить
            учет времени для проекта. При наличии выбранных программ при старте необходимо выбрать программу для работы 
            (или нажать "Без программы").
        </p>
        <h3>Контакты</h3>
        <p>
            В разделе "Контакты" вы можете найти контакты для связи.
            Также вы можете написать нам, указав свое имя, содержание вопроса и указав почту для обратной связи (почта, 
            на которую мы можем прислать вам ответ).
        </p>
        {% if user.is_authenticated and user.is_superuser %}
        <h2>Инструкция для панели администратора</h2>
        <p>
            На панели администратора вы можете:
            <ul>
                <li>Управлять пользователями</li>
                <li>Просматривать вопросы пользователей</li>
                <li>Изменять список программ для раздела "Выбранные программы"</li>
                <li>Изменять список контактов в разделе "Контакты"</li>
                <li>Просматривать проекты и задачи пользователей</li>
            </ul>
            Для этого необходимо перейти на панель администратора
        </p>
        {% endif %}
    </div>
{% endblock %}