{% extends "base.html" %}
{% block title %}Главная{% endblock %}
{% block content %}
    <div class="m-3 w-75">
        <h1>О приложении</h1>
        <p>
            UseMyTime — это инновационный трекер времени, разработанный для повышения продуктивности сотрудников и 
            оптимизации рабочего процесса в компаниях. Наше приложение помогает осознанно управлять временем, 
            минимизировать потери и фокусироваться на важных задачах.
        </p>
        <h2>Ключевые возможности</h2>
        <ul>
            <li><strong>Точный учет времени:</strong> Автоматическое отслеживание времени, потраченного на задачи, проекты</li>
            <li><strong>Подробная статистика:</strong> Отдельный учет времени, потраченного на каждое приложение, 
                используемое в работе</li>
            <li><strong>Простота использования:</strong> Удобный интерфейс и простой дизайн</li>
            <li><strong>Используйте на разных устройствах:</strong> Все данные хранятся в базе данных, проекты для вашего 
                аккаунта будут отображаться на любом устройстве, с которого вы зайдете</li>
            <li><strong>Гибкая отчетность:</strong> Быстрая генерация отчетов по сотрудникам, отделам или проектам</li>
        </ul>
        <p>
            <strong>UseMyTime</strong> — это не просто трекер, а ваш надежный помощник в достижении максимальной эффективности. 
            Попробуйте и убедитесь, как легко превратить время в ваш главный ресурс!
        </p>
    </div>
{% endblock %}