{% extends "base.html" %}
{% block title %}Контакты{% endblock %}
{% block style %}
<style>
    input, textarea, button{
        margin: 2px;
        width: 300px;
        border: solid 1px black;
    }
</style>
{% endblock %}
{% block content %}
    <h1>Контакты</h1>
    {% for contact in contacts %}
    <div class="fw-bold">{{ contact.position }}</div>
    <div class="row">
        <div class="col">{{ contact.get_full_name }}</div>
        <div class="col">{{ contact.email }}</div>
        <div class="col">{{ contact.get_formatted_phone }}</div>
    </div>
    <hr>
    {% endfor %}
    <p>Задать вопрос разработчикам:</p>
    <form method="post" action="{% url 'ask' %}">
        {% csrf_token %}
        <input type="text" name="name" placeholder="Имя"><br>
        <input type="email" name="email" placeholder="Email"><br>
        <textarea name="body" placeholder="Сообщение" 
            style="height: 150px; resize: None;"></textarea><br>
        <input type="submit" value="Отправить" class="btn text-white" 
            style="background-color: rgb(6, 46, 101); border-radius:0px;"></p>
    </form>
{% endblock %}