{% extends "base.html" %}
{% block title %}Сброс пароля{% endblock %}
{% block content %}
    <h1>Установка пароля</h1>
    {% if validlink %}
        <p>Пожалуйста, введите ваш новый пароль дважды:</p>
        <form method="post">
            <table style="border-collapse: separate; border-spacing: 10px;">
                {{ form.as_table }}
            </table>
            {% csrf_token %}
        <p><input type="submit" value="Сохранить" class="btn text-white" 
            style="background-color: rgb(6, 46, 101); border-radius:0px;"></p>
        </form>
    {% else %}
        <p>Ссылка для смены пароля не работает, возможно, она была уже использована.
            Пожалуйста, попробуйте сбросить пароль снова.</p>
    {% endif %}
{% endblock %}