{% extends "base.html" %}
{% block title %}Смена пароля{% endblock %}
{% block content %}
    <h1>Измените свой пароль</h1>
    <p>Используйте форму ниже для смены пароля.</p>
    <form method="post">
        <table style="border-collapse: separate; border-spacing: 10px;">
            {{ form.as_p }}
        </table>
        <p><input type="submit" value="Сохранить" class="btn text-white" 
            style="background-color: rgb(6, 46, 101); border-radius:0px;"></p>
        {% csrf_token %}
    </form>
    <a href="{% url 'password_reset' %}">Забыл пароль</a>
{% endblock %}