{% extends "base.html" %}
{% block title %}Проект "{{ object.title }}"{% endblock %}
{% block content %}
    <!-- Название и описание -->
    <h1>{{ object.title }}</h1>
    <p class="mb-4">{{ object.description }}</p>
    <hr>

    <!-- Список задач -->
    {% if object.tasks.all %}
    <h2 class="fw-light">Список задач</h2>
    <ul class="list-unstyled">
        {% for task in object.tasks.all %}
            <li class="mb-2 d-flex align-items-center">
                <input type="checkbox" 
                    class="task-checkbox me-2" 
                    data-task-id="{{ task.id }}"
                    {% if task.is_done %}checked{% endif %}>
                <span class="{% if task.is_done %}text-muted text-decoration-line-through{% endif %}">
                    {{ task.text }}
                </span>
        </li>
        {% endfor %}
    </ul>
    <hr>
    {% endif %}

    <!-- Данные о времени работы -->
    <div class="row">
        <div class="col text-start w-75"><h2 class="fw-light">Общее время работы над проектом</h2></div>
        <div class="col text-end"><h1>{{ object.get_hours_minutes.0 }} часов {{ object.get_hours_minutes.1 }} мин</h1></div>
    </div>
    <hr>
    {% if object.project_programs.all %}
    <h2 class="fw-light">Время работы в программах</h2>
    <table>
        {% for project_program in object.project_programs.all %}
        <tr>
            <th class="pe-3 ps-5">{{ project_program.program.name }}</th>
            <td>{{ project_program.get_hours_minutes.0 }} часов {{ project_program.get_hours_minutes.1 }} мин</td>
        </tr>
        {% endfor %}
    </table>
    <hr>

    <!-- Кнопки управления проектом -->
    {% endif %}
    <div class="d-flex justify-content-between mt-4">
        <div>
            {% if not object.is_archived %}
                {% if not user.active_project or user.active_project.project != object %}
                <form action="{% url 'projects_activate' %}" method="post" class="d-inline me-2">
                    {% csrf_token %}
                    <input type="hidden" name="project_id" value="{{ object.pk }}">
                    <button type="submit" class="btn text-white" 
                            style="background-color: rgb(6, 46, 101); border-radius:0px;">
                        Активировать проект
                    </button>
                </form>
                {% endif %}
                
                <form action="{% url 'projects_archivate' object.id %}" method="post" class="d-inline me-2">
                    {% csrf_token %}
                    <button type="submit" class="btn text-white" 
                            style="background-color: rgb(6, 46, 101); border-radius:0px;">
                        В архив
                    </button>
                </form>
            {% endif %}
        </div>
        
        <div>
            <a href="{% url 'project_update' object.pk %}" 
            class="btn text-white me-2"
            style="background-color: rgb(6, 46, 101); border-radius:0px;">
                Редактировать
            </a>
            <a href="{% url 'project_delete' object.pk %}" 
            class="btn btn-danger"
            style="border-radius:0px;">
                Удалить
            </a>
        </div>
    </div>
    
    <script>
        // Изменения статуса задачи is_done
        document.addEventListener('DOMContentLoaded', function() {
            document.querySelectorAll('.task-checkbox').forEach(checkbox => {
                checkbox.addEventListener('change', function() {
                    const taskId = this.dataset.taskId;
                    fetch("{% url 'change_task_status' 0 %}".replace('0', taskId), {
                        method: 'POST',
                        headers: {
                            'X-CSRFToken': '{{ csrf_token }}',
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({})
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.is_success) {
                            const taskText = this.nextElementSibling;
                            taskText.classList.toggle('text-muted');
                            taskText.classList.toggle('text-decoration-line-through');
                        } else {
                            this.checked = !this.checked;
                        }
                    });
                });
            });
        });
    </script>
{% endblock %}